{% assign title = title | default: 'section-title' %}
{% assign sub_title = sub_title | default: 'section-sub_title' %}
{% assign show_button = show_button | default: false %}
{% assign layout_type = layout_type | default: 'row' %}
{% assign button_text = button_text | default: 'すべてみる' %}

{% case layout_type %}
  {% when 'vertical' %}
    <div class="flex lg:flex-col justify-between border-b-2 lg:border-0 pb-8">
      <div class="flex flex-col md:flex-row md:items-center gap-1 md:gap-6 ">
        <h2 class="el_head_lg">{{ title }}</h2>
        <span class="el_head_xs">{{ sub_title }}</span>
      </div>
      {% if show_button != false %}
        <div class="md:mt-4">
          {% render 'el_button', type: 'outline', color: 'black', label: button_text, size: 'md', with_arrow: true %}
        </div>
      {% endif %}
    </div>
  {% else %}
    <div class="flex justify-between border-b-2 pb-8">
      <div class="flex flex-col md:flex-row md:items-center gap-1 md:gap-6 ">
        <h2 class="el_head_lg">{{ title }}</h2>
        <span class="el_head_xs">{{ sub_title }}</span>
      </div>
      {% if show_button != false %}
        <div class="">
          {% render 'el_button', type: 'outline', color: 'black', label: button_text, size: 'md', with_arrow: true %}
        </div>
      {% endif %}
    </div>
{% endcase %}
